.element__like {
  background-image: url(../../../image/Vector.svg);
  background-repeat: no-repeat;
  background-color: white;
  width: 22px;
  height: 19px;
  border: none;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}